<!-- ok this is where im going to be messing around with angularJs-->
    <!-- ng-controller="ListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining </span>
    [<a href="" ng-click="todoList.archive()">archive</a>]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-model="todo.done" />
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>

    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText" size="30"
                placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>-->
    <div id="content" class="site-content clearfix">
        <div class="primary content-area">
            <main id="main" class="site-main" role="main">
                <div class="article">
                    <article id="home" class="post">
                        <header class="title">
                            <h1 class="post-title">Home</h1>
                        </header>
                        <div class="post-content">
                            <p>
                                Hello and welcome to my tutorials site.
                            </p>

                            <p>
                                On this website I hope to show everyone a myriad of tutorials
                                ranging from 3d graphics, artificial intelligence, front and back end programming
                                for the web, gaming mechanics and just general tips and hacks.
                            </p>
                        </div>
                    </article>
                </div>
            </main>
        </div>
    </div>
